@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bricolage+Grotesque:opsz@10..48&display=swap');
/* font-family: 'Acme', sans-serif;
font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto Slab', serif; */

*{
    font-family: 'Noto Serif', serif;
}

.navbar{
    background-color: rgb(185, 51, 185) !important; 
}
.navbar-brand{
    color: #000 !important;
    font-size: 30px;
}
.navbar{
    font-size: 20px;
    padding: 5px;
}
.navbar-collapse{
    justify-content: end;
    
}
.nav-link{
    color: #000 !important;
}
.logo3{
    color: white;
    font-size: 30px;
}
.logo4{
    color: yellow;
    font-size: 30px;
}

/* galery */

.carousel-inner img{
    height: 80%;
    width: 100%;
    padding: 20px 50px;
    border-radius: 120px;
}
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
.logo1{
    font-size: 50px;
}
.logo2{
    color: yellow;
    font-size: 50px;
}
/* Formulario */
.fondo{
    background-color: #eeeeee;
}
.container{
    background-color: #fff;
    width: 450px;
    height: 560px;
    padding: 1px;
    margin-top: 50px;
    border-radius: 30px;
    
}
.form{
    width: 80%;
    margin: 15% 10%;
    justify-content: center !important;
    
}
.h2-ingreso{
    margin-bottom: 40px;
    text-align: center;
    font-size: 27px;
}
.form-label{
    font-size: 13px;
}
.form-control{
    padding: 0.7rem;
}
.psw{
    font-size: 15px;
}
.mb-3{
    margin-bottom: 25px !important;
}
.btn{
padding: 10px;
font-size: 18px;
}

/* gimnasios */
.container-fluid{
    display: flex;
    justify-content: center;
    margin: 25px 20px;
    gap: 25px;
    
}

@media only screen and (min-width:0) and (max-width: 768px) {
/* Navbar iniia */
    .navbar-collapse{
        color: #000 !important;
        text-align: center;
        /* background-color: rgba(255, 255, 165, 0.557); */
        box-shadow: 0 0 10px yellow;
    }
/* navbar fin */
/* tu espacio inicia */
    .container{
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        width: 530px;
        height: 600px;
        padding: 5px 3px;
        margin-top: 50px;
        border-radius: 30px;
    }
    .h2-ingreso{
        /* margin: 5px 0px 8px !important; */
        text-align: center !important;
        font-size: 30px;
    }
    .form-label{
        font-size: 15px;
    }
    .psw{
        font-size: 18px;
    }
    .btn{
        padding: 10px;
        font-size: 23px;
        }
    /* tu espacio fin */
    /* galery inicia */
    .container-fluid{
        display: flex;
        flex-wrap: wrap;
        margin: 25px 20px;
        gap: 25px;
    }
/* galery fin */
}
